* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/* product-card start */
@import "./custom/css/product-card.css";
/* product-card end */

/* header start */
@import "./custom/css/header.css";
/* header end */

/* product-details start */
@import "./custom/css/product-details.css";
/* product-details end */